@font-face{
  font-family: 'Quicksand-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Quicksand-Regular'),
       url('../fonts/Quicksand-Regular') format('woff2'),
       url('../fonts/Quicksand-Regular') format('woff')
}
@font-face{
  font-family: 'Quicksand-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Quicksand-Medium'),
       url('../fonts/QuicksaRoboto') format('woff2'),
       url('../fonts/Quicksand-Medium') format('woff')
}
@font-face{
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Roboto-Regular'),
       url('../fonts/Roboto-Regular') format('woff2'),
       url('../fonts/Roboto-Regular') format('woff')
}
@font-face{
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Roboto-Medium'),
       url('../fonts/Roboto-Medium') format('woff2'),
       url('../fonts/Roboto-Medium') format('woff')
}
@font-face{
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Roboto-Bold'),
       url('../fonts/Roboto-Bold') format('woff2'),
       url('../fonts/Roboto-Bold') format('woff')
}