@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu{
  &__list{
    display: flex;
    gap: 34px;
  }
  &__link{
    color: $title-color;
    padding-bottom: 3px;
    transition: .4s;
    border-bottom: 1px solid transparent;
    @extend %roboto-400; 
    &:hover{
      color: $acccent-color;
      border-bottom: 1px solid $acccent-color;
      @extend %roboto-700;
    }
  }
  &__link--active{
    color: $acccent-color;
    border-bottom: 1px solid $acccent-color;
    font-weight: bold;
    @extend %roboto-700;
  }
}

.user-nav {
  display: flex;
  gap: 25px;
  &__link{
    position: relative;
  }
  &__num{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $acccent-color;
    top: -9px;
    right: -12px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}





.footer {
  background-color: $bg;

}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;
  &__contact {
    width: 270px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
  }
  &__links {
    width: 170px;
    margin-right: 30px;
  }
  &__my-account {
    width: 170px;
    margin-right: 30px;
  }
  &__last-item {
    max-width: 470px;
  }
  &__logo {
    margin-bottom: 30px;
  }
  &__adress, &__email, &__tel{
    margin-bottom: 10px;
  }
  &__social-list {
    display: flex;
    gap: 18px;
    margin-top: 15px;
    align-items: center;
  }
  &__social-link {
    transition: all .3s;
    path {
      fill: $default-color;
    }
    &:hover{
      path {
        fill: $acccent-color;
      }
    }
  }
  &__title {
    color: $title-color;
    @extend %roboto-700;
    font-size: 22px;
    margin-bottom: 37px;
  }
  &__text-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__text {
    margin-bottom: 25px;
  }
  &__input {
    border: none;
    padding: 12px 12px 15px 18px;
    width: 320px;
    margin-right: 5px;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    @extend %quicksand-500;
    color: $default-color;
  }
  &__btn {
    @extend %btn;
  }
}
.footer-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 0;
  &__accept {
    display: flex;
    gap: 25px;
    align-items: center
  }
}

.top{
  &__container {
    max-width: 1700px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 130px 0 132px;
    display: flex;
    justify-content: center;
  }
  &__title{
    @extend %roboto-400;
    font-size: 48px;
    color: $title-color;
    margin-bottom: 30px;
  }

}
.breadcrumbs{
  @extend %quicksand-500;
  color: #828282;
  &__list{
    display: flex;
    justify-content: center;
  }
  &__item{
    margin: 0 20px;
    position: relative;
    &:first-child::before{
      content: '';
      width: 16px;
      height: 16px;
      background-image: url('../images/home_icon.svg');
      position: absolute;
      bottom: 7px;
      left: -24px;
    }
    &::after{
      content: '';
      width: 9px;
      height: 11px;
      position: absolute;
      background-image: url('../images/angle_right.svg');
      bottom: 7px;
      right: -25px;
    }
  }

  &__item:last-child{
    color: $acccent-color;
    &::after{
      display: none;
    }
  }
}

.form-login {
  padding: 120px 0;
  max-width: 570px;
  margin: 0 auto;
  @extend %quicksand-500;
  color: #909090;
  &__links{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 60px;
  }
  &__link{
    @extend %roboto-400;
    font-size: 22px;
    color: #909090;
    &:last-child{
      @extend %roboto-700;
      color: $acccent-color;
    }
  }
  &__text{
    display: inline-block;
    margin-bottom: 10px;
  }
  &__input{
    width: 100%;
    margin-bottom: 35px;
    background-color: $bg;
    height: 60px;
    border: none;
    padding: 10px;
    color: #909090;
  }
  &__checkbox-inner{
    padding-top: 25px;
    padding-bottom: 20px;
  }
  &__checkbox {
    width: 15px;
    height: 15px;
  }
  &__btn{
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    background-color: #292929;
    padding: 20px 10px;
    @extend %roboto-400;
    margin-bottom: 17px;
  }
}

.lost-pass{
  color: $acccent-color;
  @extend %quicksand-500;
}

.form-register {
  padding: 120px 0;
  max-width: 570px;
  margin: 0 auto;
  @extend %quicksand-500;
  color: #909090;
  &__links{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 60px;
  }
  &__link{
    @extend %roboto-400;
    font-size: 22px;
    color: #909090;
    &:first-child{
      @extend %roboto-700;
      color: $acccent-color;
    }
  }
  &__text{
    display: inline-block;
    margin-bottom: 10px;
  }
  &__text1{
    display: inline-block;
    margin-bottom: 20px;
  }
  &__input{
    width: 100%;
    margin-bottom: 35px;
    background-color: $bg;
    height: 60px;
    border: none;
    padding: 10px;
    color: #909090;
  }
  &__checkbox-inner{
    padding-top: 25px;
    padding-bottom: 20px;
  }
  &__checkbox {
    width: 15px;
    height: 15px;
  }
  &__btn{
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    background-color: #292929;
    padding: 20px 10px;
    @extend %roboto-400;
    margin-bottom: 17px;
  }
}



.top-slider{
  background-image: url('../images/slider-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg;
  padding-top: 65px;
  padding-bottom: 44px;
  &__container{
    max-width: 1560px;
  }
  &__content{
    padding-left: 20px;
    margin-left: 160px;
    margin-top: 125px;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
  }
  &__title{
    max-width: 670px;
    @extend %roboto-700;
    font-size: 58px;
    line-height: 68px;
    color: $title-color;
    margin-bottom: 35px;
  }
  &__text{
    max-width: 470px;
    margin-bottom: 55px;
    @extend %quicksand-400;
  }
  &__link {
    @extend %roboto-400;
    @extend %btn;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: -70px;
    li {
      line-height: 0;
      button {
        border: none;
        background-color: transparent;
        font-size: 0;
        width: 28px;
        height: 28px;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;
        &::before{
          position: absolute;
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $default-color;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
        }
      }
    }
    .slick-active {
      button {
        border: 1px solid $acccent-color;
        &::before{
          background-color: $acccent-color;
        }
      }
    }
  }
}

.info {
  padding: 120px 0;
  display: flex;
  gap: 30px;
  &__item{
    max-width: 370px;
    height: 300px;
    padding: 60px  0 0 40px;
    background-color: #fff;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  }
  &__item-img {
    margin-bottom: 35px;
  }
  &__item-title {
    @extend %roboto-400;
    font-size: 22px;
    margin-bottom: 15px;
    color: $title-color;
  }
  &__img-left{
    position: absolute;
    z-index: -1;
    transform: translate(-53px,80px);
  }
  &__img-right{
    position: absolute;
    z-index: -1;
    transform: translate(1129px, 272px);
  }
}
.title {
  @extend %title;
}

.category {
  padding-bottom: 120px;
  &__title {
    text-align: center;
    margin-bottom: 27px;
  }
  &__text {
    max-width: 530px;
    margin: 0 auto 57px;
    text-align: center;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 303px);
    gap: 30px;
  }
  &__item {
    padding-left: 40px;
    padding-top: 35px;
  }
  &__item:nth-child(1) {
    background-image: url('../images/category-bg-1.jpg');
    grid-row-start: span 2;
  }
  &__item:nth-child(2) {
    background-image: url('../images/category-bg-2.jpg');
    grid-column-start: span 2;
    padding-top: 105px;
  }
  &__item:nth-child(3) {
    background-image: url('../images/category-bg-3.jpg');
  }
  &__item:nth-child(4) {
    background-image: url('../images/category-bg-4.jpg');
  }
  &__item-subtitle {
    @extend %quicksand-500;
    font-size: 16px;
    margin-bottom: 8px;
  }
  &__item-subtitle1{
    color: #5800e4;
  }
  &__item-subtitle2{
    color: #fc4a61;
  }
  &__item-subtitle3{
    color: #ffcf63;
  }
  &__item-subtitle4{
    color: #34c3ff;
  }
  &__item-title{
    @extend %roboto-500;
    font-size: 22px;
    color: $title-color;
    line-height: 26px;
    margin-bottom: 5px;
  }
  &__item-link{
    @extend %roboto-400;
    font-size: 16px;
    color: $title-color;
  }
  &__item-link2{
    padding-bottom: 5px;
    border-bottom: 1px solid #fc4a61;
    color: #fc4a61;
    @extend %roboto-500;
  }
}
.popup-video{
  background-image: url('..//images/popup-bg.png');
  &__inner{
    display: flex;
    padding: 120px 0;
    align-items: center;
    gap: 65px;
  }
  &__content {
    max-width: 570px;
  }
  &__subtitle{
    color: #fc4a61;
    @extend %quicksand-500;
    font-size: 22px;
    margin-bottom: 25px;
  }
  &__title{
    margin-bottom: 42px;
  }
  &__content-link{
    @extend %btn;
    margin-top: 62px;
    display: inline-block;
  }
}

.our-blog{
  padding-top: 120px;
  padding-bottom: 167px;
  
  &__title{
    text-align: center;
    margin-bottom: 25px;
  }
  &__text{
    max-width: 550px;
    text-align: center;
    margin: 0 auto 60px;
  }
  &__items{
    display:flex;
    gap: 30px;
    position: relative;
  }
  &__item{
    padding-bottom: 30px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  }
  &__item-img{
    display: inline-block;
    margin-bottom: 20px;
  }
  &__info{
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 30px;
    margin-bottom: 27px;
  }
  &__info-label{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__item-title{
    margin-left: 40px;
    @extend %roboto-400;
    font-size: 22px;
    width: 290px;
    color: $title-color;
    line-height: 32px;   
    margin-bottom: 10px;
  }
  &__item-link{
    margin-left: 40px;
    @extend %quicksand-500;
    font-size: 16px;
  }
  &__item-link:hover {
    color: $acccent-color;
    path {
      fill: $acccent-color;
    }
  }
  &__img--decor{
    position: absolute;
    z-index: -1;
  }
}
.blog__img--decor1{
  top: 183px;
  left: -252px
}
.blog__img--decor2{
  right: -27px;
  top: -30px;
}
.product{
  padding: 126px 0 120px 0;
  text-align: center;
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
  &__text {
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
  }
  &__inner{
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px 30px;
  }
  &__link {
    @extend %roboto-400;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid $acccent-color;
    color: $title-color;
    padding: 18px 28px;
  }
}
.product-item{
  max-width: 370px;
  
  &__img-box{
    position: relative;
    height: 370px;
    overflow: hidden;
  
  }
  &__img-box:hover &__link-box {
    transform: translate(-50%,0);
  }
  &__link-box{
    position: absolute;
    bottom: 50px;
    background-color: #fff;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    border-radius: 22px;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translate(-50%,200%);
    transition: all .3s;
    
  }
  &__link{
    padding: 5px 25px;
  }
  &__link:hover{
    path {
      fill: $acccent-color;
    }
  }
  &__link + &__link{
    border-left: 1px solid #ececec;
  }
  &__image{
    object-fit: cover;
    &--list {
      width: 200px;
      height: 250px;
    }
  }
  &__title {
    @extend %roboto-400;
    font-size: 22px;
    text-align: center;
    color: $title-color;
    margin-bottom: 16px;
  }
  &__price {
    text-align: center;
    span {
      margin: 0 11px;
      position: relative;
    }
  }
  &__new-price{
    @extend %roboto-500;
    color: $title-color;
  }
  &__old-price{
    color:#ccccce;
  }
  &__old-price::after{
    position: absolute;
    content: '';
    width: 50px;
    background-color: #ccccce;
    height: 1px;
    top: 50%;
    left: 0;
  }
  &--sale {
    .product-item__img-box::before {
      content: 'SALE';
      @extend %btn;
      position: absolute;
      top: 25px;
      left: 25px;
      line-height: 1; 
    }
  }
  &__stars {
    margin: 30px auto 20px;
  }
  &__text {
    display: none;
  }
  &__btn {
    background-color: $title-color;
    
    color: #fff;
    border: none;
    @extend %roboto-400;
    display: none;
    width: 160px;
    height: 50px;
    margin-top: 15px;
    cursor: pointer;
    transition: .4s;
    &:hover {
      background-color: $acccent-color;
      box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    }
  }
}



.promo{
  background-image: url('../images/deal-of-day.jpg');
  &__inner {
    padding: 160px 0;
    max-width: 570px;
    margin-left: auto;
    text-align: center;
  }
  &__subtitle {
    font-size: 22px;
    @extend %quicksand-500;
    color: $acccent-color;
    margin-bottom: 30px;
  }
  &__title{
    margin-bottom: 60px;
  }
  &__link{
    padding: 18px 32px;
    background-color: transparent;
    border: 1px solid $acccent-color;
    color: $title-color;
  }
}


//СТИЛИЗАЦИЯ ТАЙМЕРА

#clockdiv{
	font-family: inherit;
	color: #fff;
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}

#clockdiv > div{
  width: 120px;
	max-width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 9px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
}

#clockdiv div > span{
	display: inline-block;
  font-size: 49px;
  @extend %roboto-700;
  color: $title-color;
}

.smalltext{
	color: $default-color;
  @extend %quicksand-500;
}
.partners{
  &__list {
    display: flex;
    gap: 150px;
    margin-top: 120px;
  }
}

.shop {
  padding: 120px 0 105px;
  &__inner {
    display: flex;

  }
  &__filters {
    max-width: 375px;
  }
}

.filter {
  margin-right: 30px;
  &__item {
    padding: 35px 30px 40px;
    border: 1px solid #ececec;
    margin-bottom: 40px;
    h3 {
      text-transform: uppercase;
      color: $title-color;
      font-size: 22px;
      @extend %roboto-400;
      
    }
  }
  &__title {
    text-transform: uppercase;
    color: $title-color;
    font-size: 22px;
    @extend %roboto-400;
    margin-bottom: 25px;
  }
}

.filter-search {
  &__input {
    border: none;
    background-color: $bg;
    height: 50px;
    padding: 0 17px;
    width: 257px;
    &::placeholder{
      @extend %quicksand-500;
    }
  }
  &__btn {
    background-color: $acccent-color;
    border: none;
    height: 50px;
    width: 50px;
    display: inline-flex;
    margin-left: -4px;
    transform: translateY(6px);
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    padding: 8px 24px;
    @extend %quicksand-500;
    border: none;
    background-color: $acccent-color;
    color: #fff;
    cursor: pointer;
  }
  &__title {
    margin-bottom: 20px;
  }
}


//СТИЛИЗАЦИЯ ЦЕНОВОГО ФИЛЬТРА
.irs {
  margin-bottom: 43px;
}
.irs-line{
  height: 5px !important;
}
.irs-bar{
  height: 5px !important;
}

.irs-handle {
  background-color: #fff !important;
  width: 31px !important;
  height: 31px !important;
  box-shadow: 0px 0px 13px 0px rgba(90, 90, 90, 0.2);
  top: 11px !important;

  i {
    display: none !important;
  }
}
.irs-min, .irs-max{
  display: none;
}
.irs-from, .irs-to {
  background-color: transparent !important;
  color: $default-color !important;
  font: inherit  !important;  
  font-size: 16px !important;
  top: 92px;
  display: none;
  
}
.irs-from {
  left: 40px !important;
  &::before {
    display: none !important;
  }
  
}
.irs-to {
  left: 90px !important;
  &::before {
    display: none !important;
  }
  &::after{
    content: '-';
    position: absolute;
    left: -5px;
  }
}
.irs-single {
  display: none; 
}

.filter-color {
  &__title{
    margin-bottom: 25px;
  }
  &__text {
    @extend %quicksand-500;
    color: $default-color;
  }
  &__label {
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
  
    & + & {
      padding-top: 20px;
    }
    &:last-child{
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  &__input{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    position: absolute;
    &:checked + .filter-color__checkbox{
      background-image: url('../images/checkbox.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__box {
    position: relative;
  }
  &__checkbox{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 5px;
  }
  &__checkbox--blue {
    background-color: #00aeef;
  }
  &__checkbox--red {
    background-color: #f52574;
  }
  &__checkbox--green {
    background-color: #24d4ac;
  }
  &__checkbox--orange {
    background-color: #ff7e00;
  }
  &__checkbox--black {  
    background-color: #000;
  }
  &__checkbox--purple {
    background-color: #923899;
  }
}
.filter-size{
  &__title {
    margin-bottom: 30px;
  }
  &__label {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 21px;
  }
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
  &__box {
    position: relative;
  }
  &__checkbox {
    width: 21px;
    height: 21px;
    border: 1px solid $default-color;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 3px;
  }
  &__text {
    padding-left: 14px;
  }
  &__input:checked + &__checkbox{
    background-image: url('../images/checkbox\ red.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-color: $acccent-color;
  }
}

.filter-category {
  &__title {
    margin-bottom: 40px;
  }
  &__label {
    margin-bottom: 15px;
    cursor: pointer;
    display: block;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    &:checked + .filter-category__checkbox {
      background-color: $acccent-color;
      color: #fff;
    }
  }
  &__checkbox {
    background-color: #f6f6f6;
    color:$title-color;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    @extend %quicksand-500;
  }
}
.filter-popular {
  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__label {
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    &:checked + .filter-popular__checkbox {
      color: #fff;
      background-color: $acccent-color;
      border-color: $acccent-color;
    }
  }
  &__checkbox{
    padding: 10px 19px;
    @extend %quicksand-500;
    border: 1px solid $default-color;
  }
}

.shop-content {
  width: 100%;
  
  &__filter {
    border: 1px solid #ececec;
    padding: 20px 25px 20px 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__filter-buttons{
    display: flex;
    gap: 15px;
    align-items: center;
  }
  &__filter-btn {
    padding: 0;
    border: 0;
    background: transparent;
    line-height: 1;
    cursor: pointer;
    &--active{
      path {
        fill: $acccent-color;
      }
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 30px;
    
  }
}

.jq-selectbox__select *{
  @extend %quicksand-500;
  color: $default-color;
}

.jq-selectbox {
  li:hover {
    background-color: #a3abb1;
  }
  &__select {
    border: none;
    box-shadow: none;
    background: transparent;
    padding-right: 30px;
    &:hover {
      background: transparent;
    }
  }
  &__trigger {
    border-left: none;
  }
  &__dropdown *{
    @extend %quicksand-500;
    color: $default-color;
  }
  &__trigger-arrow {
    width: 10px;
    height: 5px;
    border: none;
    background-image: url('../images/arrow-down.svg');
  }

}


//-----shop list-----
.shop-content__inner--list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.product-item__shop-page {
  min-width: 100%;
  display: flex;
  gap: 40px;
  border: 1px solid #ececec;
}
.product-item__content-box--list{
  max-width: 486px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 30px 70px 80px;
}
.product-item__img-box--list {
  height: 250px;
}
.product-item__image--list{
  width: 200px;
  height: 250px;
}
.product-item__title--list {
  margin-bottom: 0px;
  order: -1;
  padding-top: 25px;
  grid-column-start: span 2;
  text-align: left;
  @extend %roboto-500;
}
.product-item__stars--list{
  margin: 0;
  margin-left: -5px;
  transform: translateX(-85px);
}
.product-item__price--list{
  transform: translateY(-2px);
  text-align: left;
  order: -1;
  margin-left: -11px;
}
.product-item__text--list{
  @extend %quicksand-500;
  grid-column-start: span 2;
  margin-bottom: 5px;
}
.product-item__link-box--list {
  margin-left: 51px;
  background-color: transparent;
  gap: 15px;
}
.product-item__link--list {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  padding: 0;
}
.hide {
  display: none;
}
.pagination {
  display: flex;
  grid-column-start: span 2;
  justify-content: center;
  padding-top: 40px;
  border-top: 1px solid #efefef;
  &__list {
    display: flex;
    gap: 30px;
  }
  &__prev {
    margin-right: 47px;
    position: relative;
    &::before {
      content: '';
      width: 6px;
      height: 11px;
      background-image: url('..//images/arrow-prev.svg');
      position: absolute;
      background-repeat: no-repeat;
      position: absolute;
      top: 8px;
      left: -15px;
    }
  }
  &__next {
    margin-left: 47px;
    position: relative;
    &::after {
      content: '';
      width: 6px;
      height: 11px;
      background-image: url('..//images/arrow-next.svg');
      position: absolute;
      background-repeat: no-repeat;
      position: absolute;
      top: 8px;
      right: -15px;
    }
  }

}
.pagination__link--active {
  color: $acccent-color;
}

.product-details {
  padding: 120px 0;
  &__inner {
    display: flex;
  }
  &__subslider {
    width: 140px;
    margin-right: 30px;
  }
  &__subimg-box{
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
    cursor: pointer;
    img{
      width: 140px;
      height: 140px;
      object-fit: cover,
    }
  }
  &__slider {
    max-width: 560px;
    margin-right: 72px;
  }
  
  &__info {
    max-width: 370px;
  }
  &__title {
    @extend %roboto-700;
    color: $title-color;
    font-size: 22px;
    margin-bottom: 10px;
  }
  &__product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
  &__new-price {
    @extend %quicksand-500;
    font-size: 18px;
    margin-right: 10px;
    color: $title-color;

  }
  &__old-price{
    color: #ccccce;
    @extend %quicksand-500;
    font-size: 18px;
  }
  &__rate {
    display: flex;
    align-items: center;
    gap: 5px;
    span {
      color: $title-color;
      font-size: 18px;
    }
  }
  &__text {
    span {
      display: block;
      @extend %roboto-400;
      font-size: 18px;
      color: $title-color;
    }
    @extend %quicksand-400;
    margin-bottom: 30px;
    font-size: 16px;
  }
  &__subtitle {
    @extend %roboto-500;
    font-size: 18px;
    color: $title-color;
    margin-bottom: 10px;
  }
  &__color-box {
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
  }
  &__size-box {
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
  }
  &__label {
    position: relative;
  }
  &__color-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    &:checked + .product-details__color-checkbox{
      border: 1px solid $acccent-color;
    }
  }
  &__color-checkbox {
    width: 22px;
    height: 22px;
    border: 1px solid #d6d6d8;
    background-color: #fff;
    display: inline-block;
    &--pink {
      &::after{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 3px;
        left: 3px;
        background-color: #f49ac1;
      }
    }
    &--grey {
      &::after{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 3px;
        left: 3px;
        background-color: #e5e4e1;
      }
    }
    &--orange {
      &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 3px;
        left: 3px;
        background-color: #ffbc41;
      }
    }
    &--purple {
      &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 3px;
        left: 3px;
        background-color: #b370ff;
      }
    }
    &--green {
      &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 3px;
        left: 3px;
        background-color: #6fdf9e;
      }
    }
    &--red {
      &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 3px;
        left: 3px;
        background-color: #ff6060;
      }
    }
  }
  &__size-input {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0)
  }
  &__size-checkbox {
    width: 38px;
    height: 38px;
    border: 1px solid #d6d6d8;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %quicksand-500;

  }
  &__size-input:checked + .product-details__size-checkbox{
    border: 1px solid $acccent-color;
  }
  &__params {
    display: flex;
    gap: 20px;
    margin-bottom: 38px;
  }
  &__title-list {
    @extend %quicksand-500;
    color: $title-color;
  }
  &__content-item--social{
    display: flex;
    gap: 12px;
    margin-top: 4px;
  }
  &__btn {
    @extend %btn;
    display: inline-block;
    margin-left: 15px;
  }
}

.jq-number__field {
  border-radius: 0;
  width: 114px;
  
}

.jq-number__field input {
  width: 100%;
  padding: 15px 9px;
  border: none;
  color: #333;
  text-align: center;
  font-size: 18px;
}
.jq-number {
  padding: 0px 0px 0 0;
}

.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 14px;
  border: none;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
}
.plus {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.minus {
  left: 5px;
  top: 50%;
  transform: translateY(-80%)
}
.jq-number__spin:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: none;
}
.jq-number__spin.minus:after {
  position: absolute;
  top: -2px;
  left: 12px;
  height: 1px;
  width: 15px;
  background-color: #000;
  border: none;
}
.jq-number__spin.plus:after {
  position: absolute;
  content: '';
  top: 6px;
  right: 12px;
  width: 15px;
  height: 1px;
  background-color: #000;
  border: none;
}
.jq-number__spin.plus::before {
  position: absolute;
  content: '';
  top: -1px;
  right: 24px;
  width: 1px;
  height: 15px;
  background-color: #000;
  border: none;
}
.jq-number__spin:hover {
  background: transparent;
}
.jq-number__spin.plus:active {
  box-shadow: none; 
}
.jq-number__spin.minus:active {
  box-shadow: none; 
}


@import 'media';