.info {
  padding: 120px 0;
  display: flex;
  gap: 30px;
  &__item{
    max-width: 370px;
    height: 300px;
    padding: 60px  0 0 40px;
    background-color: #fff;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  }
  &__item-img {
    margin-bottom: 35px;
  }
  &__item-title {
    @extend %roboto-400;
    font-size: 22px;
    margin-bottom: 15px;
    color: $title-color;
  }
  &__img-left{
    position: absolute;
    z-index: -1;
    transform: translate(-53px,80px);
  }
  &__img-right{
    position: absolute;
    z-index: -1;
    transform: translate(1129px, 272px);
  }
}


.category {
  padding-bottom: 120px;
  &__title {
    text-align: center;
    margin-bottom: 27px;
  }
  &__text {
    max-width: 530px;
    margin: 0 auto 57px;
    text-align: center;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 303px);
    gap: 30px;
  }
  &__item {
    padding-left: 40px;
    padding-top: 35px;
  }
  &__item:nth-child(1) {
    background-image: url('../images/category-bg-1.jpg');
    grid-row-start: span 2;
  }
  &__item:nth-child(2) {
    background-image: url('../images/category-bg-2.jpg');
    grid-column-start: span 2;
    padding-top: 105px;
  }
  &__item:nth-child(3) {
    background-image: url('../images/category-bg-3.jpg');
  }
  &__item:nth-child(4) {
    background-image: url('../images/category-bg-4.jpg');
  }
  &__item-subtitle {
    @extend %quicksand-500;
    font-size: 16px;
    margin-bottom: 8px;
  }
  &__item-subtitle1{
    color: #5800e4;
  }
  &__item-subtitle2{
    color: #fc4a61;
  }
  &__item-subtitle3{
    color: #ffcf63;
  }
  &__item-subtitle4{
    color: #34c3ff;
  }
  &__item-title{
    @extend %roboto-500;
    font-size: 22px;
    color: $title-color;
    line-height: 26px;
    margin-bottom: 5px;
  }
  &__item-link{
    @extend %roboto-400;
    font-size: 16px;
    color: $title-color;
  }
  &__item-link2{
    padding-bottom: 5px;
    border-bottom: 1px solid #fc4a61;
    color: #fc4a61;
    @extend %roboto-500;
  }
}