.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu{
  &__list{
    display: flex;
    gap: 34px;
  }
  &__link{
    color: $title-color;
    padding-bottom: 3px;
    transition: .4s;
    border-bottom: 1px solid transparent;
    @extend %roboto-400; 
    &:hover{
      color: $acccent-color;
      border-bottom: 1px solid $acccent-color;
      @extend %roboto-700;
    }
  }
  &__link--active{
    color: $acccent-color;
    border-bottom: 1px solid $acccent-color;
    font-weight: bold;
    @extend %roboto-700;
  }
}

.user-nav {
  display: flex;
  gap: 25px;
  &__link{
    position: relative;
  }
  &__num{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $acccent-color;
    top: -9px;
    right: -12px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}