.our-blog{
  padding-top: 120px;
  padding-bottom: 167px;
  
  &__title{
    text-align: center;
    margin-bottom: 25px;
  }
  &__text{
    max-width: 550px;
    text-align: center;
    margin: 0 auto 60px;
  }
  &__items{
    display:flex;
    gap: 30px;
    position: relative;
  }
  &__item{
    padding-bottom: 30px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  }
  &__item-img{
    display: inline-block;
    margin-bottom: 20px;
  }
  &__info{
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 30px;
    margin-bottom: 27px;
  }
  &__info-label{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__item-title{
    margin-left: 40px;
    @extend %roboto-400;
    font-size: 22px;
    max-width: 290px;
    color: $title-color;
    line-height: 32px;   
    margin-bottom: 10px;
  }
  &__item-link{
    margin-left: 40px;
    @extend %quicksand-500;
    font-size: 16px;
  }
  &__item-link:hover {
    color: $acccent-color;
    path {
      fill: $acccent-color;
    }
  }
  &__img--decor{
    position: absolute;
    z-index: -1;
  }
}
.blog__img--decor1{
  top: 183px;
  left: -252px
}
.blog__img--decor2{
  right: -27px;
  top: -30px;
}

@media (max-width: 1250px) {
  .our-blog {
    &__img--decor {
      display: none;
    }
    &__item {
      max-width: 370px;
      box-shadow: 0px 0px 20px 0px rgba(202, 202, 202, 0.35);
    }
    &__item-img {
      width: 100%;
    }
    &__info {
      margin-left: 10px;
      margin-bottom: 15px;
      gap: 15px;
    }
    &__item-title, &__item-link {
      margin-left: 10px;
    }
  }
}

@media (max-width: 1000px) {
  .our-blog {
    &__info {
      flex-direction: column;
      align-items: start;
      gap: 5px;
      margin-bottom: 10px;
    }
    &__item {
      padding-bottom: 10px;
    }
    &__item-img {
      margin-bottom: 10px;
    }
    &__item-title {
      font-size: 18px;
      line-height: 25px;
    }
  }
}

@media (max-width: 900px) {
  .our-blog {
    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 40px;
    }
    &__item {
      margin: 0 auto; 
    }
    &__title{
      text-align: center;
      margin-bottom: 25px;
    }
    
    &__item{
      padding-bottom: 30px;
    }
    &__item-img{
      display: inline-block;
      margin-bottom: 20px;
    }
    &__info{
      display: flex;
      align-items: center;
      margin-left: 40px;
      gap: 30px;
      margin-bottom: 27px;
      flex-direction: row;
    }
    
    &__item-title{
      margin-left: 40px;
      @extend %roboto-400;
      font-size: 22px;
      max-width: 290px;
      color: $title-color;
      line-height: 32px;   
      margin-bottom: 10px;
    }
    &__item-link{
      margin-left: 40px;
      @extend %quicksand-500;
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .our-blog {
    &__info {
      flex-direction: column;
      align-items: start;
      gap: 5px;
      margin-bottom: 15px;
    }
    &__info, &__item-title, &__item-link{
      margin-left: 10px;
    }
    &__item {
      padding-bottom: 15px;
    }
  }
}

@media (max-width: 600px) {
  .our-blog {
    &__items {
      display: flex;
      flex-direction: column;

    }
  }
}

@media (max-width: 500px) {
  .our-blog__title {
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  .our-blog {
    &__item-title {
      font-size: 18px;
      line-height: 23px;
    }
    &__text {
      text-align: left;
    }
  }
}