<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/login.min.css">
  <title>Document</title>
</head>
<body>
  {% include 'app/module/_header/_header.html'%}
  <main class="main">
    <div class="top__container" style="background-image: url('images/login-bg.jpg');">
        <div class="container">
          <h2 class="top__title">REGISTER</h2>
          <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="index.html">Home</a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="">REGISTER</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% include 'app/module/_login/_login.html'%}
  </main>
  {% include 'app/module/_footer/_footer.html'%}
  <script src="js/main.min.js"></script>
</body>
</html>