<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/register.min.css">
  <title>Document</title>
</head>
<body>
  {% include 'app/module/_header/_header.html'%}
  <main class="main">
    <section class="top">
      <div class="top__container" style="background-image: url('images/login-bg.jpg');">
        <div class="container">
          <h2 class="top__title">REGISTER</h2>
          <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="index.html">Home</a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="">REGISTER</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <form class="form-register" action="">
          <div class="form-register__links">
            <a class="form-register__link" href="#">REGISTER</a>
            <a class="form-register__link" href="login.html">LOGIN</a>
          </div>
          <span class="form-register__text">Username or email address*</span>
          <input class="form-register__input" type="text">
          <span class="form-register__text">Password*</span>
          <input class="form-register__input" type="text">
          <span class="form-register__text1">A password will be sent to your email address.</span>
          <span class="form-register__text">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy.</span>
          <div class="form-register__checkbox-inner">
            <input class="form-register__checkbox" type="checkbox" id="checkbox">
            <label class="form-register__label" for="checkbox">Agree with Terms & Conditions</label>
          </div>
          <button class="form-register__btn">REGISTER</button>
        </form>
      </div>
    </section>
  </main>
  {% include 'app/module/_footer/_footer.html'%}
  <script src="js/main.min.js"></script>
</body>
</html>