.partners{
  &__list {
    display: flex;
    gap: 150px;
    margin-top: 120px;
  }
} 

@media (max-width: 1250px) {
  .partners {
    &__list {
      gap: 100px;
      justify-content: center;
    }
  }
}

@media (max-width: 1000px) {
  .partners {
    &__list {
      gap: 50px;
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .partners {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &__item {
      text-align: center;
    }
  }

}

